h1 {
	font-family: 'pirulenregular';
	color: #00b6ff;
	font-size: 14px;
}

a {text-decoration: none; color: #fff; font-size: 11px;}

body{
	background: url('../img/bg.jpg') no-repeat;
	background-size: cover;
	font-family: 'primeregular';
	font-size: 13px;
	color: #fff;
}

body.body2 {
	background: url('../img/bg2.jpg') no-repeat;
	background-size: cover;
}

hgroup h2 {
	margin-bottom: 5px;
}

hgroup h3 {
	font-family: 'primelight';
	font-style: italic;
}

header {
	width: 100%;
	height: 80px;
	background: url('../img/header-bg.png') no-repeat;
	background-size: cover;
}

.logo {
	width: 122px;
	height: 65px;
	background: url('../img/logo.png') no-repeat;
	margin: 0 auto;
}

footer {
	width: 100%;
	position: absolute;
	background: url('../img/footer-bg.png') no-repeat;
	bottom: 0;
	height: 60px;
	background-size: cover;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* Home Page */

.homeContent {
	width: 80%;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -175px auto 0 auto;
}

#left {
	width: 49.5%;
	height: 100%;
	position: relative;
	float: left;
	background-color: #132a43;
	border: 2px solid #00b6ff;
	color: #fff;
	padding: 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	#left h1 {
		margin-bottom: 30px;
	}

	#left #characters {
		background: url('../img/characters.png') no-repeat;
		width: 201px;
		height: 223px;
		position: absolute;
		top: -30px;
		left: 58%;
	}

	#left p {
		margin-bottom: 20px;
		width: 260px;
		line-height: 20px;
		text-align: justify;

	}

#right {
	width: 49.5%;
	height: 100%;
	float: right;
}
	
	#right h1 {
		text-align: center;
		margin: -5px 0 10px 0;
	}

	.right-left {
		float: left;
		width: 48%;
	}

	.right-right {
		float: right;
		width: 48%;
	}

	#right input {
		width: 100%;
		height: 25px;
		border: none;
		padding: 0px;
		border-radius: 2px;
		padding-left: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#right input[type="text"], #right input[type="password"], #right input[type="submit"], #right input[type="email"]  {
		margin-bottom: 5px;
	}

	#right input[type="submit"] {
		background-color: #00b6ff;
		color: #fff;
	}

	#right #right1 {
		width: 100%;
		height: 49%;
		margin-bottom: 1.3%;
		background-color: #132a43;
		border: 2px solid #00b6ff;
		padding: 4%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

	#right #right2 {
		width: 100%;
		height: 49%;
		background-color: #132a43;
		border: 2px solid #00b6ff;
		padding: 4%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Game-interface */

.content {
	width: 96%;
	margin: 0 auto;
}

.left-sidebar {
	width: 33.3%;
	float: left;
	/*background-color: #fff;*/
}

.user-infos {
	margin-bottom: 100px;
}

.user-infos .Assassin {
	float: left;
	margin: 0 10px 10px 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: url('../img/assassin.png') #1f4fa8 no-repeat;
	width: 64px;
	height: 64px;
}

.user-infos .Assaut {
	float: left;
	margin: 0 10px 10px 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: url('../img/assaut.png') #1f4fa8 no-repeat;
	width: 64px;
	height: 64px;
}

.user-infos .Ingenieur {
	float: left;
	margin: 0 10px 10px 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: url('../img/ingenieur.png') #1f4fa8 no-repeat;
	width: 64px;
	height: 64px;
}

.user-infos hgroup {
	font-size: 14px;
	padding-top: 19px;
	color: #fff;
}

.expPB {
	width: 57%;
	height: 32px;
	background-color: #132a43;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
}

.fill {
	background-color: #1f4fa8;
	color: #fff;
	font-size: 20px;
	height: 100%;
	width: 65%;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.friendlist {
	width: 57%;
	height: 350px;
	background-color: #132a43;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.friend-picture {
	width: 48px;
	height: 48px;
	background-color: #fff;
	float: left;
	margin-right: 10px;
}

.friend {
	margin-bottom: 10px;
}

.friend-name {
	margin-bottom: 5px;
}

.buttons {
	float: left;
}

.buttons ul li {
	width: 24px;
	height: 24px;
	display: inline-block;
	text-indent: -999999px;
	margin-right: 5px;
}

.buttons ul li.message {
	background: url('../img/chat-icon.png') #1f4fa8 no-repeat center center;
}

.buttons ul li.close {
	background: url('../img/close-icon.png') #1f4fa8 no-repeat center center;
}

.center {
	width: 33.3%;
	height: 300px;
	margin-top: 50px;
	/*background-color: #fff;*/
	float: left;
}

.right-sidebar {
	width: 33.3%;
	height: 300px;
	margin-top: 50px;
	float: left;
}

	.right-sidebar h2 {
		font-size: 16px;
		float: right;
		margin-bottom: 20px;
		color: #fff;
	}

#first {
	text-align: center;
	margin-left: 9%;
	margin-bottom: 20px;
	font-size: 16px;
	color: #fff;
}

.experience, .number, .character {
	float: left;
	margin-right: 20px;
}

.experience hgroup h3 {
	font-family: 'primelight';
	font-style: italic;
}

.number {
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background-color: #132a43;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;

}

.boss {
	width: 70%;
	height: 44px;
	background-color: #132a43;
	margin-bottom: 10px;
	float: right;
	padding: 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.startFight {
	clear: both;
	float: right;
	background-color: #132a43;
	border: none;
	color: #fff;
	width: 70%;
	height: 34px;
}

/* Fight-interface */
.bossLife {
	width: 100%;
	height: 64px;
	background-color: #132a43;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bossName {
	text-align: center;
	color: #fff;
	margin-top: 10px;
}

.spells {
	height: 30px;
	position: absolute;
	bottom: 160px;
	left: 50%;
	margin-left: -70px;
}

.spells ul li {
	display: inline-block;
}

.spells ul li.shot {
	width: 64px;
	height: 64px;
	background-color: #fff;
}

.spells ul li#hit {
	background: url('../img/hit.png') #1f4fa8 no-repeat center center;
}

.spells ul li#hit2 {
	background: url('../img/hit2.png') no-repeat;
}

.bottomBar {
	width: 100%;
	height: 100px;
	background: url('../img/bg-botbar.png') no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	bottom: 37px;
}

.timer {
	text-align: center;
	margin-top: 45px;
	font-size: 20px;
	z-index: 99;
}

.charsContent {
	width: 50%;
	margin: 50px auto 0 auto;
	height: 200px;
}

form#signin h2#chooseClass {
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
}

.ingChar, .assassinChar, .assautChar {
	width: 32.6%;
	height: 400px;
	margin-right: 0.7%;
	background: url('../img/bg-classes.png') no-repeat;
	float: left;
}

#ing{
	background: url('../img/ing.png') left bottom no-repeat;
	height: 400px;
	z-index: 20;
}

#assas{
	background: url('../img/assas.png') left bottom no-repeat;
	height: 400px;
	z-index: 20;
}

#assau{
	background: url('../img/assaut-2.png') left bottom no-repeat;
	height: 400px;
	z-index: 20;
}

#ing:hover {
	background: url('../img/hover-ing.png') no-repeat;
}

#assas:hover {
	background: url('../img/hover-assas.png') no-repeat;
}

#assau:hover {
	background: url('../img/hover-assaut.png') no-repeat;
}

#chooseNick {
	text-align: center;
}

#chooseNick h2 {
	font-size: 25px;
	padding: 15px 0;
	clear: both;
}

