<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Starblaster - The game</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<div class="logo"></div>
	</header>
	<div class="content clearfix">
		<aside class="left-sidebar">
			<div class="user-infos">
				<img src="img/user-image.png">
				<hgroup>
					<h2>Character_name</h2>
					<h3>Ingénieur lvl.26</h3>
				</hgroup>	
				<div class="expPB">
					<div class="fill"></div>
				</div>
			</div>
			<div class="friendlist"></div>
		</aside>

		<div class="center">
			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">1</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">2</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">3</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">4</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">5</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">6</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">7</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">8</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>

			<div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">9</div>
				<div class="character">
					<hgroup>
						<h2>Character_name</h2>
						<h3>Class_name lvl.00</h3>
					</hgroup>
				</div>
			</div>
		</div>

		<aside class="right-sidebar clearfix">
			<h2>Affrontements en cours :</h2>
			<div class="boss">
				<div class="fill"></div>
			</div>
			<div class="boss">
				<div class="fill"></div>
			</div>
			<div class="boss">
				<div class="fill"></div>
			</div>
			<div class="boss">
				<div class="fill"></div>
			</div>

			<input type="submit" value="Lancer un combat" class="startFight">

		</aside>
	</div>
	<footer></footer>
</body>
</html>