

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Starblaster - The game</title>
  <link rel="stylesheet" type="text/css" href="public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="public/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>


	<header>
		<div class="logo"></div>
	</header>
	<div class="content clearfix">
		<aside class="left-sidebar">
			<div class="user-infos">
				<img src="img/user-image.png">
				<hgroup>
					<h2><?php echo $SESSION['nickname']; ?></h2>
					<h3><?php echo $SESSION['classe']; ?> lvl.<?php echo $SESSION['lvl']; ?></h3>
				</hgroup>	
				<div class="expPB">
					<div class="fill"></div>
				</div>
			</div>
			<div class="friendlist"></div>
		</aside>

		<div class="center">
			<?php
$x=0;
 if(isset($top)):
 	foreach ($top as $player):
 		?>

 		 <div id="first" class="clearfix">
				<div class="damages">
					<hgroup>
						<h2>Dégats infligés</h2>
						<h3>99 999 999 999</h3>
					</hgroup>
				</div>
				<div class="number">1</div>
				<div class="character">
					<hgroup>
						<h2><?php echo($player->pseudo); /*echo ($f3->get('nametop.nametop1'))*/ ?></h2>
						<h3><?php echo($player->classe); ?> lvl.<?php echo($player->level); ?></h3>
					</hgroup>
				</div>
			</div>
<?php
endforeach;
 endif;

?>
			

			
		</div>

		<aside class="right-sidebar clearfix">
			<h2>Affrontements en cours :</h2>
			<div class="boss">
				<div class="fill"></div>
			</div>
			<div class="boss">
				<div class="fill"></div>
			</div>
			<div class="boss">
				<div class="fill"></div>
			</div>
			<div class="boss">
				<div class="fill"></div>
			</div>

			<input type="submit" value="Lancer un combat" class="startFight">

		</aside>
	</div>
	<footer></footer>
</body>
</html>