<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<H1>HOME</H1>

	
<?php 


    echo ('tu es connecté en tant que '.$SESSION['nickname']." et tu es level ".$SESSION['lvl']);
 
    
 ?> 

<h2> SCORE </h2>

<ul>
 <?php
 if(isset($top)):
  foreach ($top as $player):
 ?>
  <li><a href="users/<?= $player->id ?>"><?= $player->pseudo . ' / score : ' . $player->level ?></a>
 <?php
  endforeach;
 endif;
 ?>
 </ul>


<form action="signout/">
	<input type="submit" value="Log off"/>
</form>

</body>
</html>