<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	
    <form action="nickname/" id="signin" method="post">
       <h2>Entrez un Pseudo</h2>
      <input type="text" name="nicknameinsc" placeholder="pseudo" />
       <h2>choisissez une classe</h2>
       


	       <input  type="radio" name="radio" value="1" /> ingé
	       <input  type="radio" name="radio" value="2" /> sniper
	       <input  type="radio" name="radio" value="3" /> toubib 
      <input type="submit" value="Valider"/>
    </form>

   


</body>
</html>