<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Starblaster - The game</title>
	<link rel="stylesheet" type="text/css" href="public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="public/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
</head>
<body>
	<header>
		<div class="logo"></div>
	</header>

	<div class="charsContent">
		<form action="nickname/" id="signin" method="post">
			<h2 id="chooseClass">Choisissez une classe</h2>
			<div class="ingChar" data-name="radio" data-value="1">
				<div id="ing"></div>
			</div>

			<div class="assassinChar" data-name="radio" data-value="2">
				<div id="assas"></div>
			</div>

			<div class="assautChar" data-name="radio" data-value="3">
				<div id="assau"></div>
			</div>

			<input id="radio1" type="radio" style="display:none;" name="radio" value="1">
			<input id="radio2" type="radio" style="display:none;" name="radio" value="2">
			<input id="radio3" type="radio" style="display:none;" name="radio" value="3">

    		<div id="chooseNick" style="display: none";>
	    		<h2>Entrez un Pseudo :</h2>
	    		<input type="text" name="nicknameinsc" placeholder="pseudo" />
	    		<input type="submit" value="Valider"/>
    		</div>
		</form>
	</div>

	<footer></footer>
	<script type="text/javascript">
		$('#ing').on('click', function (e) {
			document.getElementById('chooseNick').style.display="block";
			$('#radio1').click();

		});

		$('#assas').on('click', function (e) {
			document.getElementById('chooseNick').style.display="block";
			$('#radio2').click();
		});

		$('#assau').on('click', function (e) {
			document.getElementById('chooseNick').style.display="block";
			$('#radio3').click();
		});
	</script>
</body>
</html>